
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    height: 100vh;
    /* background: 
        radial-gradient(
        at top right,
        rgb(46, 0, 0) 0%,
        #151515 70%,
        rgb(0, 44, 44) 100%
      ); */
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #0E1113;
    background-size: 100%, 100%;
    font-family: 'Roboto';
    background-repeat: no-repeat;
}

#text{
    text-align: center;
}

.appear{
    position: absolute;
    background-color:rgb(32,34,35);
    border-radius: 20px;
}

.a{
    overflow: hidden;
    background-color: white;
    color: white;
}

.box{
    position: absolute;
    /* overflow: hidden; */
    /* background-color: rgb(100,100,100); */
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

#anim{
    animation-name: appearAnim;
}

@keyframes appearAnim {
    0%{opacity:0}
    100%{opacity:1}
}

.load{
    font-size: 30px;
    letter-spacing: 6px;
    position: relative;
    top:-2px;
    left:4.5px;

}

.removeScrollBar::-webkit-scrollbar{
    display: none;
}

.removeScrollBar{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);
}

.loadAnim{
    overflow: hidden;
    width: 60px;
    animation:dot 1s infinite
}

@keyframes dot{
    0%{width:5px}
    50%{width:40px}
    100%{width:60px}
}

.anim{
    animation:likeAnim 2s forwards
}

@keyframes likeAnim {
    0%{height:0;opacity:0}
    15%{height:30px;opacity:1}
    85%{height:30px;opacity:1}
    100%{height:0;opacity:0}
}

.highlight{
    animation:highlightanim 5s forwards;
}

@keyframes highlightanim{
    0%{opacity:1}
    75%{opacity:1}
    100%{opacity:0}
}